body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  font-size: 36px;
  text-align: center;
}

a {
  color: #069;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-align: center;
  background-color: #eee;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  background-color: #ccc;
}
