body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  font-size: 36px;
  text-align: center;
}

a {
  color: #069;
  display: block;
  font-size: 18px;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}
